@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* ------------------------------------------
   Keyframes for Each Floating Morphing Blob
------------------------------------------- */

/* Blob base style */
.blob {
    position: absolute;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    opacity: 0.53;
    filter: blur(30px);
    mix-blend-mode: multiply;
    z-index: 0;
  }

  .mouseblob {
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    opacity: 0.6;
    filter: blur(30px);
    mix-blend-mode: multiply;
    z-index: 0;
  }
  
  @keyframes floatBlob1 {
    0%   { transform: translate(0, 0) scale(1) rotate(0deg); }
    20%  { transform: translate(100px, -150px) scale(1.2) rotate(15deg); }
    40%  { transform: translate(-90px, 250px) scale(0.95) rotate(-20deg); }
    60%  { transform: translate(90px, 180px) scale(1.1) rotate(10deg); }
    80%  { transform: translate(-50px, -200px) scale(1.05) rotate(-15deg); }
    100% { transform: translate(0, 0) scale(1) rotate(0deg); }
  }
  
  @keyframes floatBlob2 {
    0%   { transform: translate(0, 0) scale(1) rotate(0deg); }
    20%  { transform: translate(-1100px, 300px) scale(1.1) rotate(18deg); }
    40%  { transform: translate(100px, -200px) scale(1.25) rotate(-22deg); }
    60%  { transform: translate(-70px, -250px) scale(0.9) rotate(12deg); }
    80%  { transform: translate(90px, 200px) scale(1.1) rotate(-10deg); }
    100% { transform: translate(0, 0) scale(1) rotate(0deg); }
  }
  
  @keyframes floatBlob3 {
    0%   { transform: translate(0, 0) scale(1) rotate(0deg); }
    25%  { transform: translate(90px, 250px) scale(0.95) rotate(-12deg); }
    50%  { transform: translate(-80px, -180px) scale(1.2) rotate(24deg); }
    75%  { transform: translate(100px, -250px) scale(1.05) rotate(-18deg); }
    100% { transform: translate(0, 0) scale(1) rotate(0deg); }
  }
  
  @keyframes floatBlob4 {
    0%   { transform: translate(0, 0) scale(1) rotate(0deg); }
    25%  { transform: translate(150px, 300px) scale(0.9) rotate(-12deg); }
    50%  { transform: translate(80px, -300px) scale(1.2) rotate(24deg); }
    75%  { transform: translate(150px, -220px) scale(1.05) rotate(-18deg); }
    100% { transform: translate(0, 0) scale(1) rotate(0deg); }
  }
  
  /* Classes assigned to each blob */
  .floatBlob1 {
    animation: floatBlob1 22s ease-in-out infinite;
  }
  .floatBlob2 {
    animation: floatBlob2 28s ease-in-out infinite;
  }
  .floatBlob3 {
    animation: floatBlob3 26s ease-in-out infinite;
  }
  .floatBlob4 {
    animation: floatBlob3 26s ease-in-out infinite;
  }
  
  